__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.venv
env
.env
*.egg-info
.pytest_cache
tests
.git
.gitignore
*.md
scripts
aws_lambda
server.log
server.err
*.txt
!requirements.txt
patch_*.py
fix_*.py
temp_*.py
test_*.py
